<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
    {{> menu}}
    <div id="message_container">
        <form class="register_add"
            style="display: flex; align-items:flex-end; justify-content:space-between; margin-bottom: 0.33em;">
            <h1>{{heading}}</h1>
            {{#if isAuthenticated}}
            <button class="button" type="submit" id="addPost" formaction="/new_post">Add Post</button>
            {{else}}

            <a href="/registration" class="reg_link">Register a new account to start posting!</a>

            {{/if}}
        </form>
        <hr>

        <ul class="message_list">
            {{#each message}}
            <li><a href="/thread/{{_id}}">{{title}}</a>
                <p class="poster">Posted by: <a href="/user/{{user_id}}" id="f_username">{{username}}</a> on {{date}}
                </p>
                <hr>
            </li>
            {{/each}}
        </ul>
    </div>
</body>

{{> footer}}

</html>